<html>
 <head>
  <title>Recuperação de senha</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css"   href="Fsenha.css">
 </head>
 <style>
 .title{
 				border: solid 1px grey;
 				width: 40%;
 				heigh: 200px;
 				font-family: verdana;
 				border-radius: 3px;
 				margin-left: 30%;
 				margin-top: 5%;
 				font-size: 30px;
 				background-color: #d5eded;
 				}
 </style>
 <body>
  <div class="title">
  <p align="center">Recuperação de senha</p>
   <div>
   </div>
  </div>
 </body>
</html>
